body {
 background-color: #6D6875;
}

.jumbotron {
 background-color: white;
 margin: 2%;
 padding: 1%;
}

.container {
 background-color: white;
 padding: 2%;
 font-weight: bold;
}

.content {
 background-color: #FFB4A2;
 padding: 2%;
}

ul {
 width: 100%;
 height: 100%;
 justify-content: center;
}

li {
 padding: 2%;
 margin: 3%;
}

.notListened {
 color: white;
 background-color: #6D6875;
}

.isListened {
 color: green;
 background-color: white;
}

button {
 background-color: rgba(0, 0, 0, 0.87);
 opacity: 70%;
 color: red;
}

.panel-body button {
 background-color: #FFB4A2;
 color: black;
 border: solid black;
 font-weight: bold;
}